.card__link-title {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 0 10px;
    text-decoration: none;
    color: #000000;
}

.card__link-title:hover {
    cursor: pointer;
}

@media (max-width: 400px) {
    .card__link-title {
        font-size: 20px;
        line-height: 24px;
    }
}